body {
  background: #F9F9F9;
  margin: 0;
}
header {
  width: 100%;
  height: 89px;
}
header div {
  width: 1200px;
  height: 100%;
  padding-top: 24px;
  margin: 0 auto;
}
header div img {
  margin: 0 0 26px 100px;
}
#body {
  width: 100%;
  height: 542px;
  background: #46A4E9;
}
#body > div {
  margin: 0 auto;
  height: 542px;
  width: 1200px;
  background: url("../img/login/bg-page.jpg") no-repeat;
  position: relative;
}
footer {
  width: 100%;
  height: 58px;
}
footer p {
  padding-top: 14px;
  margin: 0 auto;
  width: 430px;
  text-align: center;
  font-size: 14px;
  color: #999;
}
#login,
#enter {
  width: 250px;
  height: 354px;
  background: #fff;
  padding: 8px 26px 17px 27px;
  position: absolute;
  left: 822px;
  top: 197px;
}
#login > p,
#enter > p {
  font-size: 20px;
  color: #999;
  margin: 5px 0;
}
#login form > div,
#enter form > div {
  position: relative;
  margin-bottom: 10px;
}
#login form > div p,
#enter form > div p {
  color: #F00;
  margin: 0;
  margin-bottom: 3px;
  font-size: 12px;
}
#login form > div input,
#enter form > div input {
  height: 30px;
  width: 215px;
  padding: 0;
  padding-left: 33px;
}
#login form > div > span,
#enter form > div > span {
  display: inline-block;
  width: 32px;
  height: 31px;
  position: absolute;
  background: url("../img/sprite/webico_main.png");
}
#login form > div:first-child > span,
#enter form > div:first-child > span {
  left: 1px;
  top: 20px;
  background-position: 1px 1px;
}
#login form > div:nth-child(2) > span,
#enter form > div:nth-child(2) > span {
  left: 1px;
  top: 2px;
  background-position: 1px -31px;
}
#login form > div:nth-child(3),
#enter form > div:nth-child(3),
#login form div:nth-child(4),
#enter form div:nth-child(4) {
  display: flex;
  align-items: center;
  height: 35px;
}
#login form > div:nth-child(3) input,
#enter form > div:nth-child(3) input,
#login form div:nth-child(4) input,
#enter form div:nth-child(4) input {
  width: 33%;
}
#login form > div:nth-child(3) > span,
#enter form > div:nth-child(3) > span,
#login form div:nth-child(4) > span,
#enter form div:nth-child(4) > span {
  left: 1px;
  top: 2px;
  background-position: 1px 65px;
}
#login form > div:nth-child(3) > div,
#enter form > div:nth-child(3) > div,
#login form div:nth-child(4) > div,
#enter form div:nth-child(4) > div {
  display: inline-block;
}
#login form > div:nth-child(3) > div span,
#enter form > div:nth-child(3) > div span,
#login form div:nth-child(4) > div span,
#enter form div:nth-child(4) > div span {
  display: inline-block;
  height: 34px;
  width: 78px;
}
#login form > div:nth-child(3) a,
#enter form > div:nth-child(3) a,
#login form div:nth-child(4) a,
#enter form div:nth-child(4) a {
  font-size: 12px;
  line-height: 35px;
  color: #999;
  text-decoration: none;
}
#login form > div:nth-child(4) input:nth-child(2),
#enter form > div:nth-child(4) input:nth-child(2) {
  width: 122px;
  height: 34px;
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
}
#login form > div:nth-child(4) input:nth-child(2):hover,
#enter form > div:nth-child(4) input:nth-child(2):hover {
  cursor: pointer;
  color: #1a9eff;
}
#login form > div:nth-child(5) input,
#enter form > div:nth-child(5) input {
  width: 100%;
  height: 34px;
  background: #1a9eff;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
#login form > div:nth-child(5) input:hover,
#enter form > div:nth-child(5) input:hover {
  cursor: pointer;
  background: #69bfff;
}
#login form > div:nth-child(6) input,
#enter form > div:nth-child(6) input {
  width: 12px;
  height: 12px;
}
#login form > div:nth-child(6) a,
#enter form > div:nth-child(6) a {
  font-size: 12px;
  color: #1a9eff;
  text-decoration: none;
}
#login form > div:nth-child(7),
#enter form > div:nth-child(7) {
  margin-top: 22px;
}
#login form > div:nth-child(7) div:first-child,
#enter form > div:nth-child(7) div:first-child {
  float: left;
}
#login form > div:nth-child(7) div:first-child a,
#enter form > div:nth-child(7) div:first-child a {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
#login form > div:nth-child(7) div:first-child a:first-child,
#enter form > div:nth-child(7) div:first-child a:first-child {
  background: url("../img/sprite/qq2.png");
}
#login form > div:nth-child(7) div:first-child a:nth-child(2),
#enter form > div:nth-child(7) div:first-child a:nth-child(2) {
  background: url("../img/sprite/weichat2.png");
}
#login form > div:nth-child(7) div:first-child a:nth-child(3),
#enter form > div:nth-child(7) div:first-child a:nth-child(3) {
  background: url("../img/sprite/sina2.png");
}
#login form > div:nth-child(7) div:last-child,
#enter form > div:nth-child(7) div:last-child {
  float: right;
}
#login form > div:nth-child(7) div:last-child a,
#enter form > div:nth-child(7) div:last-child a {
  font-size: 14px;
  line-height: 28px;
  color: #1a9eff;
  text-decoration: none;
}
#enter form div:nth-child(3) input {
  width: 12px;
  height: 12px;
}
#enter form div:nth-child(3) a:last-child {
  margin-left: 94px;
  color: #1a9eff;
}
#enter form div:nth-child(4) input {
  width: 100%;
  height: 34px;
  background: #1a9eff;
  padding: 0px;
  border: none;
  color: #fff;
  font-size: 14px;
}
#enter form div:nth-child(4) input:hover {
  cursor: pointer;
}
#enter form div:nth-child(5) {
  margin-top: 102px;
}
#enter form div:nth-child(5) div:first-child {
  float: left;
  margin-right: 50px;
}
#enter form div:nth-child(5) div:first-child a {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-right: 10px;
}
#enter form div:nth-child(5) div:first-child a:first-child {
  background: url("../img/sprite/qq2.png");
}
#enter form div:nth-child(5) div:first-child a:nth-child(2) {
  background: url("../img/sprite/weichat2.png");
}
#enter form div:nth-child(5) div:first-child a:nth-child(3) {
  background: url("../img/sprite/sina2.png");
}
#enter form div:nth-child(5) div:last-child {
  font-size: 14px;
  line-height: 30px;
}
#enter form div:nth-child(5) div:last-child a {
  color: #1a9eff;
  text-decoration: none;
}
#title {
  position: absolute;
  left: 818px;
  top: 100px;
  color: red;
  display: none;
}
